<!-- Standard favicons -->
<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" sizes="any">
<link rel="shortcut icon" href="/images/favicon/favicon.ico">

<!-- Apple Touch -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="Simosmanis">

<!-- Web manifest -->
<link rel="manifest" href="/images/favicon/site.webmanifest">
